<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="najuvisManagement" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Najuvis</title>
	<link rel="shortcut icon" HREF="images/logo.jpg"/>
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link href="css/ninja-slider.css" rel="stylesheet" type="text/css" />
	<!--JAVASCRIPT-->
    <script src="js/control/SliderControl/ninja-slider.js" type="text/javascript"></script>
    <script src="js/control/SliderControl/ninjaVideoPlugin.js" type="text/javascript"></script>
    <!-- JQuery-->
	<script src="js/frameWorks/jQuery/jQuery.js" type="text/javascript" xml:space="preserve"></script>
   <!--DATEPICKER-->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type = "text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type = "text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel = "Stylesheet" type="text/css" /> 
    <!-- Angular-->
    <script src="js/frameWorks/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/frameWorks/angular/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
	<!--CSS FONTS-->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
	<!-- CONTROL ANGULAR -->
	 <script src="js/control/index.js" type="text/javascript" xml:space="preserve"></script>
	<!-- MODEL ANGULAR OBJECTS -->
	<script src="js/model/clientObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/localObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/orderObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/productObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/reserveObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/userObj.js" type="text/javascript" xml:space="preserve"></script>

  </head>
  <body ng-controller="najuvisManagementController as najuvisCtrl" ng-init="najuvisCtrl.getProductsData()">
	  	<header>
		  	<div class="jumbotron">
		  		<div id="title">
		  			<h2 class="titleNajuvis">Najuvis</h2>
			  		<p class="eslogan">Un regalo de la vida merece una celebración</p>
	  			</div>
		  	</div>
		  	<nav class="navbar navbar-default">
			       <!--<a class="navbar-brand" href="#">Najuvis</a>-->
	  			<ul class="nav navbar-nav">
	  				<li><a href="#" ng-click="pageToShow = 0">Indice</a></li>
	  				<li><a href="#" ng-click="pageToShow = 1">Productos</a></li>
	  				<li><a href="#" ng-click="pageToShow = 2">Locales</a></li>
	  				<li><a href="#" ng-click="pageToShow = 3">Diseña tu tarta</a></li>
	  				<li class="redSocialLi"><a href="#"><img src="images/facebook.png" alt="face" width="20" height="20" class="redSocial"/></a></li>
	  				<li class="redSocialLi"><a href="#"><img src="images/instagram.jpg" alt="instagram" width="20" height="20" class="redSocial"/></a></li>
	  				<li class="redSocialLi"><a href="#"><img src="images/twitter.png" alt="twitter" width="20" height="20" class="redSocial"/></a></li>
	  			</ul>
		  	</nav>
	  	</header>
	  	<div id="content">
	  	<!-- TEMPLATES ANGULAR-->
	  		<recommended id="recommended"></recommended>
	  		<products id="products"></products>
	  		<locals id="locals"></locals>
	  		<cake-designer id="cakeDesigner"></cake-designer>
	  	<!-- *****************-->
	  	</div>
	  	<footer class="footer">
	  		<p class="infoContact">Información de contacto</p>
	  		<div class="socialLogos">
		  		<ul class="nav navbar-nav">
		  			<li><a href="#"><img src="images/facebook.png" alt="face" width="20" height="20"/></a></li>
	  				<li><a href="#"><img src="images/instagram.jpg" alt="instagram" width="20" height="20" class="redSocial"/></a></li>
	  				<li><a href="#"><img src="images/twitter.png" alt="twitter" width="20" height="20"/></a></li>
		  		</ul>
	  		</div>
	  	</footer>
  </body>
</html>
