<header>
	<div class="jumbotron">
		<div id="title">
			<h2 class="titleNajuvis">Najuvis</h2>
  		<p class="eslogan">Un regalo de la vida merece una celebración</p>
		</div>
	</div>
	<nav class="navbar navbar-default">
       <!--<a class="navbar-brand" href="#">Najuvis</a>-->
		<ul class="nav navbar-nav">
			<li><a href="index.html" ng-click="pageToShow = 0">Indice</a></li>
			<li><a href="products.html" ng-click="pageToShow = 1">Productos</a></li>
			<li><a href="./locales" ng-click="pageToShow = 2">Locales</a></li>
			<li><a href="./diseny" ng-click="pageToShow = 3">Diseña tu tarta</a></li>
			<li class="redSocialLi"><a href="#"><img src="images/facebook.png" alt="face" width="20" height="20" class="redSocial"/></a></li>
			<li class="redSocialLi"><a href="#"><img src="images/instagram.jpg" alt="instagram" width="20" height="20" class="redSocial"/></a></li>
			<li class="redSocialLi"><a href="#"><img src="images/twitter.png" alt="twitter" width="20" height="20" class="redSocial"/></a></li>
		</ul>
	</nav>
</header>