<!--start-->
<div ng-show="pageToShow == 0">
        <div id='ninja-slider'>
            <ul>
                <li><div data-image="images/products/1.jpg" class="imagesSlider"></div></li>
                <li><div data-image="images/products/cookies.jpg" class="imagesSlider"></div></li>
                <li>
                    <div data-image="images/products/1.jpg" class="imagesSlider">
                        <a class="video" href="https://www.youtube.com/watch?v=j6PbonHsqW0"></a>
                    </div>
                </li>
                <li><div data-image="images/products/1.jpg" class="imagesSlider"></div></li>
                <li><a data-image="images/products/1.jpg" class="imagesSlider"></a></li>
            </ul>
        </div>
        <!--end-->
  		<h3>Recomendados:</h3>
  		<!--<img src="images/products/1.jpg" height="100" width="100" />-->
			 <div class="table-responsive">          
			  <table class="table">
			    <tbody>
			      <tr>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			      </tr>
			      <tr>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			      </tr>
			      <tr>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			        <td><a href="#"><img src="images/products/1.jpg" height="100" width="100" class="imageRecommended" /></a><br/>Pastel</td>
			      </tr>
			    </tbody>
			  </table>
			  </div>
</div>