<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" ng-app="najuvisLogManagement">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>NAJUVIS | Log in</title>
		
		<link rel="shortcut icon" HREF="images/logo.png"/>
		<!-- css-->
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />	
		
		 <!-- Angular-->
		<script src="js/frameWorks/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
		<script src="js/frameWorks/angular/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
		<script src="js/frameWorks/angular/i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
		<script src="js/frameWorks/angular/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
		
		<!-- jQuery-->
		<script src="js/frameWorks/jQuery/jQuery.js" type="text/javascript" xml:space="preserve"></script>
		
		<!-- Own code-->  
		<script src="js/model/userObj.js" type="text/javascript" xml:space="preserve"></script>	
		<script src="js/control/generalFunctions.js" type="text/javascript" xml:space="preserve"></script>
		<script src="js/control/index.js" type="text/javascript" xml:space="preserve"></script>
		
  </head>

  <body class="documentColor" ng-controller="najuvisLogController as sessionCtrl" ng-init="sessionCtrl.checkSession()">
	<img id="NajuvisCompany" src="images/logo.png" />
	<div id="connectionForm">
		<h3 id="title">Administrador NAJUVIS</h3>
		<form name="userConnection" novalidate ng-submit="userConnection.$valid && sessionCtrl.login()">
			<div>
				<table class="table">
					<tr>
						<td><input type="text" placeholder="User" id="userNick" required ng-model="sessionCtrl.user.nick"/></td>
					</tr>
					<tr>
						<td><input type="password" placeholder="Contrase&ntilde;a" id="userPass" required ng-model="sessionCtrl.user.password"/></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Enter"/></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
  </body>
</html>